
# OS
.DS_Store

# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/*.pyc
backend/.pytest_cache/
backend/data/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vercel/

